<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Location: {{this.location? this.location.name:""}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id='map' class='location-map'></div>
  <ion-card *ngIf="this.location">
    <ion-card-header>
      <ion-card-subtitle>{{this.location.category}}</ion-card-subtitle>
      <ion-card-title>{{this.location.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>{{this.location.address}}</ion-label>
    </ion-card-content>
  </ion-card>
  <h1>Comments</h1>
  <ion-list *ngIf="this.location && this.location.comments">
    <ion-item *ngFor="let comment of this.location.comments" class="comment">
      <ion-avatar slot="start">
        <ion-icon name="person"></ion-icon>
      </ion-avatar>
      <ion-label>
        {{comment.name}} -
        {{comment.time | date: 'd.M.y H:mm'}}
        <br><br>
        {{comment.text}}
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-button class="commentAddBtn" expand="block" (click)="this.clickAddComment()">
    <ion-icon class="btnIcon" name="chatbubbles"></ion-icon>
    Add Comment
  </ion-button>
  
</ion-content>
